.map-view {
    height: 100%;
}

.map-view .sidebar {
    width: 21rem;
}

.map-view .search-field {
    width: 20rem;
}

.map-view .card {
    width: 16rem;
    white-space: normal;
    text-align: left;
}

@media screen and (max-width: 768px) {

    .map-view .sidebar {
        width: 100%;
    }

    .map-view .sidebar vaadin-scroller {
        min-height: 10rem;
    }

    .map-view .search-field {
        width: 100%;
    }

    .map-view .card {
        min-width: 10rem;
        padding-right: var(--lumo-space-l);
    }

    .map-view .sidebar .card-list {
        gap: var(--lumo-space-s);
    }
}