html {
    --lumo-border-radius: 0.75em;
    --lumo-primary-text-color: rgb(236, 0, 22);
    --lumo-primary-color-50pct: rgba(236, 0, 22, 0.5);
    --lumo-primary-color-10pct: rgba(236, 0, 22, 0.1);
    --lumo-error-text-color: rgb(255, 56, 103);
    --lumo-error-color-50pct: rgba(255, 56, 103, 0.5);
    --lumo-error-color-10pct: rgba(255, 56, 103, 0.1);
    --lumo-success-text-color: rgb(99, 166, 21);
    --lumo-success-color-50pct: rgba(99, 166, 21, 0.5);
    --lumo-success-color-10pct: rgba(99, 166, 21, 0.1);
    --lumo-primary-color: #EC0016;
    --lumo-error-color: hsl(346, 100%, 61%);
    --lumo-success-color: #63A615;
    --lumo-header-text-color: hsl(285, 35%, 15%);
    --lumo-body-text-color: hsla(285, 40%, 16%, 0.94);
    --lumo-secondary-text-color: hsla(285, 42%, 18%, 0.72);
    --lumo-tertiary-text-color: hsla(285, 45%, 20%, 0.5);
    --lumo-disabled-text-color: hsla(285, 50%, 22%, 0.26);


    --lumo-warning-color: #fea200;
    --lumo-warning-text-color: rgb(255, 162, 0);
    --lumo-warning-color-50pct: rgba(255, 162, 0, 0.5);
    --lumo-warning-color-10pct: rgba(255, 162, 0, 0.1);
}

[theme~="dark"] {
    --lumo-tint-5pct: rgba(252, 245, 255, 0.05);
    --lumo-tint-10pct: rgba(252, 245, 255, 0.1);
    --lumo-tint-20pct: rgba(252, 245, 255, 0.2);
    --lumo-tint-30pct: rgba(252, 245, 255, 0.3);
    --lumo-tint-40pct: rgba(252, 245, 255, 0.4);
    --lumo-tint-50pct: rgba(252, 245, 255, 0.5);
    --lumo-tint-60pct: rgba(252, 245, 255, 0.6);
    --lumo-tint-70pct: rgba(252, 245, 255, 0.7);
    --lumo-tint-80pct: rgba(252, 245, 255, 0.8);
    --lumo-tint-90pct: rgba(252, 245, 255, 0.9);
    --lumo-primary-text-color: rgb(236, 0, 22);
    --lumo-primary-color-50pct: rgba(236, 0, 22, 0.5);
    --lumo-primary-color-10pct: rgba(236, 0, 22, 0.1);
    --lumo-error-text-color: rgb(255, 56, 103);
    --lumo-error-color-50pct: rgba(255, 56, 103, 0.5);
    --lumo-error-color-10pct: rgba(255, 56, 103, 0.1);
    --lumo-success-text-color: rgb(99, 166, 21);
    --lumo-success-color-50pct: rgba(99, 166, 21, 0.5);
    --lumo-success-color-10pct: rgba(99, 166, 21, 0.1);
    --lumo-base-color: #132039;
    --lumo-tint: hsl(285, 100%, 98%);
    --lumo-primary-color: #EC0016;
    --lumo-error-color: hsl(346, 100%, 61%);
    --lumo-success-color: #63A615;
    --lumo-success-contrast-color: #2D2C29;
    --lumo-header-text-color: hsl(285, 100%, 98%);
    --lumo-body-text-color: hsla(285, 96%, 96%, 0.9);
    --lumo-secondary-text-color: hsla(285, 87%, 92%, 0.7);
    --lumo-tertiary-text-color: hsla(285, 78%, 88%, 0.5);
    --lumo-disabled-text-color: hsla(285, 69%, 84%, 0.32);

    --lumo-warning-color: #fea200;
    --lumo-warning-text-color: rgb(255, 162, 0);
    --lumo-warning-color-50pct: rgba(255, 162, 0, 0.5);
    --lumo-warning-color-10pct: rgba(255, 162, 0, 0.1);
}


vaadin-button {
    :host(:not([theme~="tertiary"])) {
        background-image: linear-gradient(var(--lumo-tint-5pct), var(--lumo-shade-5pct));
        box-shadow: inset 0 0 0 1px var(--lumo-contrast-20pct);
    }

    :host(:not([theme~="tertiary"]):not([theme~="primary"]):not([theme~="error"]):not([theme~="success"])) {
        color: var(--lumo-body-text-color);
    }

    :host([theme~="primary"]) {
        text-shadow: 0 -1px 0 var(--lumo-shade-20pct);
    }
}