
html {
    --lumo-font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    --lumo-border-radius: 0.5em;
    --lumo-primary-text-color: #EC0016;
    --lumo-primary-color-50pct: rgba(236, 0, 22, 0.5);
    --lumo-primary-color-10pct: rgba(236, 0, 22, 0.1);
    --lumo-error-text-color: rgb(225, 29, 98);
    --lumo-error-color-50pct: rgba(225, 29, 98, 0.5);
    --lumo-error-color-10pct: rgba(225, 29, 98, 0.1);
    --lumo-success-text-color: rgb(120, 190, 20);
    --lumo-success-color-50pct: rgba(120, 190, 20, 0.5);
    --lumo-success-color-10pct: rgba(120, 190, 20, 0.1);
    --lumo-primary-color: #EC0016;
    --lumo-error-color: #e11d62;
    --lumo-success-color: #78BE14;
    --lumo-success-contrast-color: hsl(159, 29%, 10%);

    --lumo-warning-color: #fea200;
    --lumo-warning-text-color: rgb(255, 162, 0);
    --lumo-warning-color-50pct: rgba(255, 162, 0, 0.5);
    --lumo-warning-color-10pct: rgba(255, 162, 0, 0.1);
}


[theme~="dark"] {
    --lumo-error-text-color: rgb(225, 29, 98);
    --lumo-error-color-50pct: rgba(225, 29, 98, 0.5);
    --lumo-error-color-10pct: rgba(225, 29, 98, 0.1);
    --lumo-error-color: #e11d62;
    --lumo-primary-text-color: rgb(236, 0, 22);
    --lumo-primary-color-50pct: rgba(236, 0, 22, 0.5);
    --lumo-primary-color-10pct: rgba(236, 0, 22, 0.1);
    --lumo-primary-color: #EC0016;
    --lumo-base-color: rgba(29, 42, 56, 1);

    --lumo-warning-color: #fea200;
    --lumo-warning-text-color: rgb(255, 162, 0);
    --lumo-warning-color-50pct: rgba(255, 162, 0, 0.5);
    --lumo-warning-color-10pct: rgba(255, 162, 0, 0.1);
}



